{
  "presets": [
    "@babel/preset-react",
    [
      "next/babel"
    ]
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": [
          "./"
        ],
        "alias": {
          "common": "./common",
          "controller": "./controller",
          "contract-api": "./contract-api",
          "static": "./static",
          "assets": "./assets",
          "pages": "./pages"
        }
      }
    ],
    [
      "@babel/plugin-transform-arrow-functions"
    ],
    "@babel/plugin-syntax-dynamic-import"
  ],
  "env": {
    "production": {
      "plugins": [
        "transform-remove-console"
      ]
    }
  }
}